//! **************************************************************************
// Written by: Map P.68d on Fri Nov 01 01:57:26 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

