//! **************************************************************************
// Written by: Map P.68d on Fri Nov 01 21:52:33 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

